<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-icon name="person-add"></ion-icon>
    <form class="custom-form" [formGroup]="formGroup">
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{'user.email' | localizedresource | async}}*</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'user.name' | localizedresource | async}}*</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'user.mobile' | localizedresource | async}}</ion-label>
          <ion-input type="tel" formControlName="mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'user.status.title' | localizedresource | async}}</ion-label>
          <ion-select formControlName="status" interface="popover">
            <ion-select-option [value]="UserStatus.Approved">{{'user.status.' + UserStatus.Approved | localizedresource | async}}</ion-select-option>
            <ion-select-option [value]="UserStatus.Pending">{{'user.status.' + UserStatus.Pending | localizedresource | async}}</ion-select-option>
            <ion-select-option [value]="UserStatus.Rejected">{{'user.status.' + UserStatus.Rejected | localizedresource | async}}</ion-select-option>
            <ion-select-option [value]="UserStatus.Blocked">{{'user.status.' + UserStatus.Blocked | localizedresource | async}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'user.role.title' | localizedresource | async}}</ion-label>
          <ion-select formControlName="role" interface="popover">
            <ion-select-option [value]="UserRole.Admin">{{'user.role.' + UserRole.Admin | localizedresource | async}}</ion-select-option>
            <ion-select-option [value]="UserRole.User">{{'user.role.' + UserRole.User | localizedresource | async}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="user?.externalAuth">
        <ion-list-header>
          <ion-label>{{'user.external_auth' | localizedresource | async}}</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>
            <h2>{{user.externalAuth.providerSystemName}}</h2>
            <p>{{user.externalAuth.externalIdentifier}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </form>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onFormSubmit(formGroup.value)" [disabled]="!formGroup.valid">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
