.expense-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: var(--ion-padding, 16px);
    // padding-right: var(--ion-padding, 16px);
    min-height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    .icon-container {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-icon {
            font-size: 28px;
        }
    }

    .category-description-amount {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .category-description {
            .description {
                font-size: 1em;
                margin-bottom: 5px;
                white-space: normal;
                word-break: break-word;
            }

            .category {
                font-size: 0.8em;
            }
        }

        .amount-date {
            text-align: right;
            margin-left: 5px;
            
            .date {
                font-size: 0.8em;
            }
            .amount {
                font-size: 1em;
                margin-bottom: 5px;
            }
        }
    }

    &.expense-item-even {
        background-color: #f7f7f7;
    }
}

ion-menu, 
page-home-dashboard {
    ion-header {
        &.no-border {
            &:after {
                display: none;
            }    
        }

        ion-toolbar {
            &:last-child {
                --border-width: 0 !important;
            }
        }
    }
}

.skeleton-loading {
    animation: loadingprd 1.5s linear infinite forwards;
    background: no-repeat #f1f1f1;
    background-image: -webkit-linear-gradient(left,#f1f1f1 0,#e1e1e1 20%,#f1f1f1 40%,#f1f1f1 100%);    
}
@-webkit-keyframes loadingprd {
    0% {
        background-position: -468px 0
    }
    
    to {
        background-position: 468px 0
    }
}  
@keyframes loadingprd {
    0% {
        background-position: -468px 0
    }
    to {
        background-position: 468px 0
    }
}