<ion-header>
  <ion-toolbar>
    <ion-title>{{'category.title' | localizedresource | async}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500" (ionInput)="onIonSearchInput($event)"></ion-searchbar>
  <ion-list>
    <ion-item-divider *ngFor="let item of gorupedItems | keyvalue">
      <ion-label>{{ item.key }}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let cat of categories">
      <ion-label>{{ cat.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onCategoryAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
