<ion-header>
  <ion-toolbar>
    <!-- <ion-title>{{'dashboard.title' | localizedresource | async}}</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="date-filters">
    <ion-datetime 
      [displayFormat]="DEFAULT_DATE_FORMAT" [value]="selectedFromDate"  
        (ionChange)="onDateSelectionChanged($event, 'fromDate')"></ion-datetime>
    &nbsp;-&nbsp;
    <ion-datetime [value]="selectedToDate" [displayFormat]="DEFAULT_DATE_FORMAT" 
      (ionChange)="onDateSelectionChanged($event, 'toDate')"></ion-datetime>
  </div>
  <ion-card class="card-total">
    <ion-card-header>
      <ion-card-title>{{'expense.total' | localizedresource | async }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-label>{{ totalAmount | currency: (workingCurrency + '&nbsp;')}}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'home.dashboard.spending_by_date' | localizedresource | async }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <apx-chart #dateChart *ngIf="dateChartOptions" 
      [series]="dateChartOptions.series"
      [chart]="dateChartOptions.chart"
      [dataLabels]="dateChartOptions.dataLabels"
      [plotOptions]="dateChartOptions.plotOptions"
      [xaxis]="dateChartOptions.xaxis"
    ></apx-chart>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'home.dashboard.spending_by_category' | localizedresource | async }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <apx-chart #categoryChart *ngIf="categoryChartOptions" 
      [series]="categoryChartOptions.series"
      [chart]="categoryChartOptions.chart"
      [legend]="categoryChartOptions.legend"
      [labels]="categoryChartOptions.labels"
    ></apx-chart>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
