<ion-header>
  <ion-toolbar>
    <ion-title>{{'dashboard.title' | localizedresource | async}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Spending by Top 5 Categories</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <apx-chart #chart *ngIf="chartOptions" 
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </ion-card-content>
  </ion-card>
</ion-content>
