<ion-header>
  <ion-toolbar>
    <ion-title>{{'expense.split' | localizedresource | async}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #tpContent>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedType">
      <ion-item (click)="onTypeClicked(TransactionType.PaidByYouAndSplitEqually)">
        <ion-label>{{ 'expense.transaction_type.' + TransactionType.PaidByYouAndSplitEqually | localizedresource | async }}</ion-label>
        <ion-radio [value]="TransactionType.PaidByYouAndSplitEqually" mode="ios"></ion-radio>
      </ion-item>
      <ion-item (click)="onTypeClicked(TransactionType.YouOweFullAmount)">
        <ion-label>{{ 'expense.transaction_type.' + TransactionType.YouOweFullAmount | localizedresource | async }}</ion-label>
        <ion-radio [value]="TransactionType.YouOweFullAmount" mode="ios"></ion-radio>
      </ion-item>
      <ion-item (click)="onTypeClicked(TransactionType.TheyOweFullAmount)">
        <ion-label>{{ 'expense.transaction_type.' + TransactionType.TheyOweFullAmount | localizedresource | async }}</ion-label>
        <ion-radio [value]="TransactionType.TheyOweFullAmount" mode="ios"></ion-radio>
      </ion-item>
      <ion-item (click)="onTypeClicked(TransactionType.PaidByOtherPersonAndSplitEqually)">
        <ion-label>{{ 'expense.transaction_type.' + TransactionType.PaidByOtherPersonAndSplitEqually | localizedresource | async }}</ion-label>
        <ion-radio [value]="TransactionType.PaidByOtherPersonAndSplitEqually" mode="ios"></ion-radio>
      </ion-item>
      <ion-item (click)="onTypeClicked(TransactionType.Mutiple)">
        <ion-label>{{ 'expense.transaction_type.' + TransactionType.Mutiple | localizedresource | async }}</ion-label>
        <ion-radio [value]="TransactionType.Mutiple" mode="ios"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <form class="members-form" [formGroup]="memberFormGroup" (ngSubmit)="onMembersSubmit()" 
    *ngIf="selectedType === TransactionType.PaidByOtherPersonAndSplitEqually || selectedType == TransactionType.Mutiple">
    <ion-list formArrayName="members">
      <ion-list-header>
        <ion-label>{{'group.members' | localizedresource | async}}</ion-label>
        <ion-buttons>
          <!-- allow only 1 person to be added if type is PaidByOtherPersonAndSplitEqually -->
          <ion-button (click)="addMember()" [disabled]="!memberFormGroup.valid" 
            *ngIf="selectedType != TransactionType.PaidByOtherPersonAndSplitEqually">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          <ion-button type="submit" [disabled]="!memberFormGroup.valid">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-list-header>
      <ion-item [formGroupName]="i" *ngFor="let skill of members.controls; let i=index">
        <div class="member-with-amount" *ngIf="currentUser">
          <ion-select [interface]="'popover'" formControlName="email">
            <ion-select-option [value]="ambr.user.email" *ngFor="let ambr of remainingMembers">
              {{ambr.user.email == currentUser.email ? ('common.you' | localizedresource | async) : ambr.user.name}}
            </ion-select-option>
          </ion-select>
          <ion-input type="number" formControlName="amount" placeholder="e.g 100"></ion-input>
        </div>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="removeMember(i)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
