page-expense-create-or-update {
    ion-content {
        .container {
            display: flex;
            align-items: center;

            > ion-button {
                margin-right: 10px;
                height: 100px;
                width: 110px;

                ion-icon {
                    font-size: 40px;
                }
            }

            > ion-list {
                width: 100%;
            }
        }
    }
    ion-footer {
        form {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            ion-list {
                display: flex;
                align-items: center;
                
                ion-item {
                    ion-button {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        ion-icon {
                            &[name="calendar-outline"], &[name="receipt-outline"] {
                                font-size: 24px;
                            }

                            &[name="trash"], &[name="pencil"] {
                                position: absolute;
                                top: 5px;
                                left: 0;
                                font-size: 16px;
                                z-index: 99;
                            }

                            &[name="trash"] {
                                color: red;
                            }

                            &[name="pencil"] {
                                font-size: 16px;
                                top: 6px;
                                left: 0;
                            }

                            // &[name="receipt-outline"] {
                            //     font-size: 24px;
                            //     position: absolute;
                            //     top: 0;
                            //     bottom: 0;
                            //     margin: auto;
                            //     display: flex; 
                            // }
                        }

                        input[type=file] {
                            // opacity: 0;
                            // // width: 100%;
                            // // height: 100%;
                            // // font-size: 70px;
                            // // position: absolute;
                            // top: 0;
                            // left: 0;
                            // right: 0;
                            // bottom: 0;
                            // margin: auto;
                            // z-index: 99; 
                            // width: 24px;

                            opacity: 0;
                            width: 40px;
                            height: 100%;
                            position: absolute;
                            z-index: 9999;
                        }
                    }
                }
            }
        }
    }
}