<ion-header>
  <ion-toolbar>
    <ion-title>{{'user.users' | localizedresource | async}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-icon slot="start" name="alert" *ngIf="user.status == UserStatus.Pending"></ion-icon>
      <ion-icon slot="start" name="checkmark" *ngIf="user.status == UserStatus.Approved"></ion-icon>
      <ion-icon slot="start" name="close" *ngIf="user.status == UserStatus.Rejected"></ion-icon>
      <ion-icon slot="start" name="remove-circle" *ngIf="user.status == UserStatus.Blocked"></ion-icon>
      <ion-label>
        <h2>{{user.name}}</h2>
        <h3>{{user.role}}</h3>
        <p>{{user.email}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button *ngIf="user.externalAuth && user.externalAuth.providerSystemName == LoginType.GOOGLE">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button color="primary" (click)="onMoreOptionsClicked($event, user)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
