<ion-header>
  <ion-toolbar>
    <ion-title>{{'setting.title' | localizedresource | async}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'setting.delete_db' | localizedresource | async}}</ion-label>
      <ion-button (click)="onDeleteDbClickec()">
        {{'common.delete' | localizedresource | async}}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
