<ion-header>
  <ion-toolbar>
    <ion-title>{{'setting.title' | localizedresource | async}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSyncButtonClicked()" [disabled]="isSyncInProgress" 
         class="animated infinite" [class.spin]="isSyncInProgress">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [userRole]="currentUser?.role">
    <ion-item (click)="onItemClicked('/category')" detail="true">
      <ion-label>{{'category.title' | localizedresource | async}}</ion-label>
    </ion-item>
    <ion-item (click)="onItemClicked('/user/user-listing')" detail="true">
      <ion-label>{{'user.users' | localizedresource | async}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'currency.default' | localizedresource | async}}</ion-label>
      <ion-select [value]="workingCurrency" (ionChange)="onSelectedCurrencyChanged($event)"  
      [okText]="'common.ok' | localizedresource | async" 
      [cancelText]="'common.cancel' | localizedresource | async">
        <ion-select-option [value]="curr" *ngFor="let curr of currencies">
          {{curr}}
        </ion-select-option>
      </ion-select>
      <ion-button color="primary" (click)="onCurrencyUpdateClicked()" [disabled]="!selectedCurrency">
        {{'common.update' | localizedresource | async}}
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <ion-label>{{'setting.database' | localizedresource | async}}</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>{{'setting.delete_db' | localizedresource | async}}</ion-label>
      <ion-button (click)="onDeleteDbClickec()">
        {{'common.delete' | localizedresource | async}}
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{'setting.table' | localizedresource | async}}</ion-label>
      <ion-select [(ngModel)]="selectedTable" 
        [placeholder]="'common.select' | localizedresource | async" 
        (ionChange)="onTableSelectionChanged()">
        <ion-select-option [value]="tab" *ngFor="let tab of tables">{{tab}}</ion-select-option>
      </ion-select>
      <ion-button color="danger" (click)="onTableActionClicked('update')">
        {{'common.update' | localizedresource | async}}
      </ion-button>
      <ion-button (click)="onTableActionClicked('reset')">
        {{'common.reset' | localizedresource | async}}
      </ion-button>
    </ion-item>
    <ion-item *ngIf="selectedTable">
      <ion-textarea rows="5" #tableDataTextArea></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
