page-expense-create-or-update {
    ion-footer {
        form {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            ion-list {
                display: flex;
                align-items: center;
                
                ion-item {
                    ion-button {
                        width: 100%;
                        height: 100%;
                    }

                    ion-icon {
                        &[name="calendar-outline"] {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}