page-expense-create-or-update {
    ion-content {
    }
    ion-footer {
        form {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            ion-list {
                display: flex;
                align-items: center;
                
                ion-item {
                    ion-button {
                        width: 100%;
                        height: 100%;
                    }

                    ion-icon {
                        &[name="calendar-outline"] {
                            font-size: 24px;
                        }
                    }

                    .file-input-container {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        
                        input[type=file] {
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            font-size: 70px;
                            // position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 99;
                        }
                        
                        ion-icon {
                            font-size: 35px;
                            color: #858c92;
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}