<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'expense.title_listing' | localizedresource | async}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="expenses">
    <div class="expense-item" *ngFor="let expense of expenses" (click)="onExpenseItemClicked(expense)">
      <div class="icon-container">
        <ion-icon [attr.name]="expense.category.icon"></ion-icon>
      </div>
      <div class="category-description-amount">
        <div class="category-description">
          <div class="description">{{expense.description}}</div>
          <div class="category">{{expense.category?.name}}</div>
        </div>
        <div class="amount">{{expense.amount}}</div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>