<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ sum | currency: (workingCurrency + '&nbsp;')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated inputmode="search" debounce="300"
    [(ngModel)]="searchTerm" 
    (ionChange)="onSearchInputChanged($event)" (ionClear)="onSearchInputCleared($event)"
    [placeholder]="'search.title' | localizedresource | async"></ion-searchbar>

  <div class="expenses">
    <div class="expense-item" *ngFor="let expense of expenses" (click)="onExpenseItemClicked(expense)">
      <div class="icon-container">
        <ion-icon [attr.name]="expense.category.icon"></ion-icon>
      </div>
      <div class="category-description-amount">
        <div class="category-description">
          <div class="description">{{expense.description | slice:0:40 }}{{expense.description.length > 40 ? '...' : ''}}</div>
          <div class="category">{{expense.category?.name}}</div>
        </div>
        <div class="amount">{{expense.amount}}&nbsp;{{workingCurrency}}</div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>