page-expense-listing {
    ion-header {
        ion-toolbar {
            &.toolbar-calendar {
                text-align: center;
                
                ion-label {
                    padding: 10px 0;
                    font-size: 0.8em;
                }
            }
        }
    }
    .expenses {
        ion-item-sliding {
            ion-item {
                
            }
            
            ion-item-options {
                ion-item-option {
                    width: 60px;

                    ion-icon {
                        font-size: 24px;
                    }
                }
            }
        }

    }
}