<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ sum | currency: (workingCurrency + '&nbsp;')}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <calendar-swiper (monthChanged)="onMonthChanged($event)"></calendar-swiper>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated inputmode="search" debounce="300"
    [(ngModel)]="searchTerm" 
    (ionChange)="onSearchInputChanged($event)" (ionClear)="onSearchInputCleared($event)"
    [placeholder]="'search.title' | localizedresource | async"></ion-searchbar>

  <ion-list class="expenses">
    <no-data *ngIf="!expenses.length"></no-data>
    <ion-item-sliding *ngFor="let expense of expenses" (click)="onExpenseItemClicked(expense)">
      <ion-item lines="none">
        <div class="expense-item">
          <div class="icon-container">
            <ion-icon [attr.name]="expense.category.icon"></ion-icon>
          </div>
          <div class="category-description-amount">
            <div class="category-description">
              <div class="description">{{expense.description | slice:0:40 }}{{expense.description.length > 40 ? '...' : ''}}</div>
              <div class="category">{{expense.category?.name}}</div>
            </div>
            <div class="amount-date">
              <div class="amount">{{expense.amount}}&nbsp;{{workingCurrency}}</div>
              <div class="date">{{expense.createdOn | formateDate | async}}</div>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onExpenseItemDeleteClicked($event, expense)">
          {{'common.delete' | localizedresource | async}}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>