page-expense-listing {
    ion-header {
        ion-toolbar {
            &.toolbar-calendar {
                text-align: center;
                
                ion-label {
                    padding: 10px 0;
                    font-size: 0.8em;
                }
            }
        }
    }
    .expenses {
        ion-item {
            
        }
    }
}