page-expense-listing {
    ion-header {
        ion-toolbar {
            &.toolbar-calendar {
                text-align: center;
                
                ion-label {
                    padding: 10px 0;
                    font-size: 0.8em;
                }
            }

            &.toolbar-group {
                .group-container {
                    text-align: center;
                    padding: 0 20px;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .group-amount-title {
                        text-align: center;
                        
                        .title {
                            font-size: 0.8em;
                        }

                        .amount {
                            font-weight: bold;

                            span {
                                display: block;
                                font-size: 0.6em;
                            }
                        }
                    }

                    .group-icon-title {
                        .group-owe {
                            margin-bottom: 5px;

                            span {
                                font-weight: bold;
                            }
                        }

                        .group-icon {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            border: 1px solid #cdcdcd;
                            margin-bottom: 10px;
            
                            > ion-icon {
                                font-size: 35px;
                            }
                        }
            
                        .group-title {
                            font-size: 1.1em;
                            font-weight: bold;
                        } 
                    }
                }
            }
        }
    }

    ion-content {

    }
}