<ion-header>
  <ion-toolbar>
    <ion-label>{{'group.members' | localizedresource | async}}</ion-label>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="displayAddToolbar">
    <ion-searchbar slot="start" [(ngModel)]="email"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="onMemberSaveClicked()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleAddMemberClicked()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header lines="inset">
      <ion-label>{{'group.members' | localizedresource | async}}</ion-label>
    </ion-list-header>
    <ng-container *ngIf="currentUser">
      <ion-item *ngFor="let member of members">
        <ion-label>
          <h2 *ngIf="member.user.email != currentUser.email">
            {{ member.user.name }}
          </h2>
          <h2 *ngIf="member.user.email == currentUser.email">
            {{'common.you' | localizedresource | async }}
          </h2>
          <h3>{{ member.user.email }}</h3>
          <p>{{('group.status.' + member.status) | localizedresource | async }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleAddMemberClicked()" [disabled]="displayAddToolbar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
