<ion-tabs #homeTabs>
  <!-- <ion-tab-bar>
      <ion-tab-button (click)="onTabClicked('expense')" [class.tab-selected]="selectedTab === 'expense'">
          <ion-icon ios="home" md="home"></ion-icon>
          <ion-icon ios="curve-bottom" md="curve-bottom"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="onTabClicked('profile')" [class.tab-selected]="selectedTab === 'profile'">
          <ion-icon ios="user-profile-icon-fill" md="user-profile-icon-fill"></ion-icon>
          <ion-icon ios="curve-bottom" md="curve-bottom"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="onTabClicked('explore-university')" [class.tab-selected]="selectedTab === 'explore-university'">
          <ion-icon ios="about-universitycity" md="about-universitycity"></ion-icon>
          <ion-icon ios="curve-bottom" md="curve-bottom"></ion-icon>
      </ion-tab-button>

      <ion-tab-button (click)="onTabClicked('about')" [class.tab-selected]="selectedTab === 'about'">
          <ion-icon ios="information-fill" md="information-fill"></ion-icon>
          <ion-icon ios="curve-bottom" md="curve-bottom"></ion-icon>
      </ion-tab-button>

  </ion-tab-bar> -->
</ion-tabs>