calendar-swiper {
    display: inline-block;
    width: 100%;
    padding: 16px;
    position: relative;

    > ion-button {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        --padding-start: 10px;
        --padding-end: 10px;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }

    ion-slides {
        width: calc(100% - 80px);

        .swiper-wrapper {
            ion-slide {
                width: 45px;
                height: 45px;

                ion-button {
                    width: 35px;
                    height: 35px;
                    --padding-start: 0;
                    --padding-end: 0;
                    font-size: 0.9em;
                }

                &.swiper-slide-active {
                    ion-button {
                        transform: scale(1.3);
                        font-size: 1.1em;
                        --background: var(--ion-color-light);
                    }
                }
            }
        }
    }
}