page-expense-detail {
    ion-header {
        ion-toolbar {
            // --min-height: 112px;
        }
    }

    ion-content {
        .container {
            .attachment {
                ion-button {
                    font-size: 80px;
                    height: auto;
                }
            }
        }
    }
}