<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="container">
    <ion-icon name="person-circle"></ion-icon>
    <form class="custom-form" [formGroup]="loginFormGroup" (ngSubmit)="onLoginClicked('standard')">
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{'user.email' | localizedresource | async}}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'user.password' | localizedresource | async}}</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
      <div class="buttons-container">
        <ion-button type="submit">
          {{'user.login.title' | localizedresource | async}}
        </ion-button>
      </div>
      <div class="other-buttons">
        <ion-button fill="clear">
          {{'user.forgot_password' | localizedresource | async}}
        </ion-button>
        <ion-button fill="clear" (click)="onRegisterClicked()">
          {{'user.register.title' | localizedresource | async}}
        </ion-button>
      </div>
    </form>
    <div class="social-media-container">
      <div class="continue-with">{{'user.login.continue_with' | localizedresource | async}}</div>
      <div class="social-media-buttons">
        <ion-buttons>
          <ion-button (click)="onLoginClicked('google')">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
